<% provide(:title, "サービスの使い方") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>リアルタイムソーシャルの使い方</h1>
  </div>
  <div class="howtouse">
    <h1>1. PC/スマホでサイトにアクセスします</h1>
    <%= image_tag "top_page.png" %>
  </div>
  <div class="howtouse">
    <h1>2. アカウントを作ります</h1>
    <%= image_tag "create_account.png" %>
  </div>
  
  <div class="howtouse">
    <h2></h2>
    <p>*イベント参加者はイベント参加費をクレジットカードで支払います</p>
    <p>*イベント参加費は月末時点の合計額からサイト利用料10%を差し引いて翌月末にイベントホストの銀行口座に入金します</p>
  </div>
</div>
</div>