<% provide(:title, "サービスの使い方") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>サービスの使い方</h1>
  </div>
  <div class="howtouse">
    <h2>1. PC/スマホでサイトにアクセスします</h2>
    <p class="img_center">
       <%= image_tag "top_page.png", class: "howtouse-image" %>
    </p>
  </div>
  <div class="howtouse">
    <h2>2. アカウントを作ります</h2>
    <p class="img_center">
    <%= image_tag "create_account.png", class: "howtouse-image" %>
    </p>
  <div class="howtouse">
    <h2>注釈</h2>
    <p>*1 イベント参加者はイベント参加費をクレジットカードで支払います</p>
    <p>*2 イベント参加費は月末時点の合計額からサイト利用料10%を差し引いて翌月末にイベントホストの銀行口座に入金します</p>
  </div>
</div>
</div>