<% provide(:title, "プライバシーポリシー") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>プライバシーポリシー</h1>
  </div>
  <div class="privacy">
    <p>Realtime Social(以下本サービスとする)は、個人情報の重要性を尊重し、その保護の徹底を図るために、個人情報の保護に関して適用される法令を遵守するとともに、以下のとおりプライバシーポリシーを設定いたします。</p>
  </div>  
  <div class="privacy">
    <h2>1. 個人情報の管理について</h2>
    <p>プライバシーポリシーは、本サイトのサービス利用時に適用されます。また個人情報はプライバシーポリシーにしたがって、管理責任者の責任の下、適切な管理を行うものとします。なお本サービスは個人情報の不正アクセス、紛失、破壊、改ざん及び漏洩などを予防するとともに、万一の場合には速やかな是正措置を行います。</p>
  </div>  
  <div class="privacy">
    <h2>2. 個人情報の収集について</h2>
    <p>本サービスは下記における目的を遂行する場合に、個人情報の収集を行います。個人情報の収集は、合理的に必要な範囲に限定するものとし、お客様の判断で、ご自身の個人情報を提供頂けるよう明示するものとします。</p>
    <p>お客様がご自身の個人情報の提供を希望されない場合、又新たな利用目的への利用に同意されない場合は、個人情報が不可欠なサービスはご利用頂けない事がありますのでご了承下さい。</p>
    
    <div class="privacy-sub privacy-sub-top">
      <h3>1.	サービスをご利用頂いた場合</h3>
      <p>本サービスは、お客様に対するユーザ登録手続きを通じて、ユーザのニックネーム及びEメールアドレス（以下「ユーザ情報」といいます。）の提供をお願いするほか、また、イベントの参加費の支払いやイベントホストに対する払い出しは、第三者企業が提供する決済サービスの利用を要するため、それぞれの規定に従いその他個人情報を登録する必要があります。さらに、本サイトにログインする際に第三者企業のアカウントを使用する場合は、それぞれの第三者企業のプライバシーポリシーが適用されます。</p>
    </div>
    <div class="privacy-sub">
      <h3>2.	本サービスにお問い合わせを頂いた場合</h3>
      <p>問い合わせにお答えする為に必要な氏名、Eメールアドレスを含む連絡先などの個人情報の提供をお願いしております。</p>
    </div>
  </div>  
  <div class="privacy">
    <h2>3. 個人情報の使用目的</h2>
    <p>本サービスは、原則として下記の6つの目的でユーザ情報を含むお客様の個人情報（ただし、イベントホストが必要とする参加者情報を除きます。）を使用します。下記以外の目的でこれを使用する際は、別途このページあるいは本サービスのサービス上で掲示いたします。</p>
    <div class="privacy-sub privacy-sub-top">
      <p>1.	サービスを安全かつ確実に提供するために使用します。</p>
      <p>2.	サービス向上のための参考資料として使用します。</p>
      <p>3.	ユーザ向けサービスをより充実したものにするために使用します。</p>
      <p>4.	特別なサービスや新しい資料などの情報をお知らせするために使用します。</p>
      <p>5.	必要に応じてお客様と連絡をするために使用します。</p>
      <p>6.	利用状況や利用環境などに関する調査を実施するために使用します。</p>
    </div>
    <p>本サービスは、以下の「4. 個人情報の開示及び共有」に記載された条件で開示又は共有する場合を除き、イベントホストが必要とする参加者情報を、本サービスの事業のために使用することはありません。</p>
  </div>  
  <div class="privacy">
    <h2>4. 個人情報の開示及び共有</h2>
    <p>1.	本サービスは、ユーザ情報及びイベントホストが必要とする参加者情報を含むお客様の個人情報を、次の場合を除き、第三者に対し開示しません。</p>
    <div class="privacy-sub">
      <p>i.	ユーザ本人の同意がある場合</p>
      <p>ii.	法令に基づく場合</p>
      <p>iii.	人の生命、身体又は財産の保護のために必要である場合であって、ユーザ本人の同意を得ることが困難であるとき</p>
      <p>iv.	公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</p>
      <p>v.	国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。</p>
    </div>
    <p class="privacy-sub-top">2.	本サービスは、イベントホストに対し、以下のいずれかの目的で、本サービスで保有するユーザ情報及びイベントホストが必要とする参加者情報を含むお客様の個人情報を、当該イベントホスト又は本サービスとの間で共同開発契約、事業提携契約その他本サービスのサービスに関して協業することを内容とする契約を締結した第三者（以下「協業先となる第三者」といいます。）*に提供し、これをイベントホスト又は協業先となる第三者と共同して利用することがあります。なお、この共同利用に際してイベントホスト又は協業先となる第三者に対し提供される個人情報の管理については、本サービス及び当該イベントホスト又は当該協業先となる第三者になります。</p>
    <div class="privacy-sub">
      <p>i.	イベントホストにおいて、その開催するイベントにおける参加者を管理すること。</p>
      <p>ii.	イベントホストにおいて、その開催するイベントに参加する予定の又は参加したユーザに対し、連絡をとること。</p>
      <p>iii.	本サービスと協業先となる第三者の協業により、本サービスのサービスを安全かつ確実に提供すること。</p>
      <p>iv.	本サービスと協業先となる第三者の協業により、ユーザ向けサービスをより充実したものにすること。</p>
      <p>v.	本サービスと協業先となる第三者の協業により、特別なサービスや新しいサービスを提供すること。</p>
    </div>
    <p class="privacy-sub-top">*現在、該当する第三者はございません。</p>
  </div>  
  <div class="privacy">
    <h2>5. 個人情報の変更、取消について</h2>
    <p>お客様から個人情報の内容確認や訂正のお申し出があった場合は適切・迅速に対応いたします。</p>
  </div>  
  <div class="privacy">
    <h2>6. セキュリティについて</h2>
    <p>お客様の個人情報は、プライバシー保護およびセキュリティのためパスワードで保護されています。また、お客様の情報が送信される際のセキュリティのために、SSL (Secure Socket Layer)を使って、入力される情報を暗号化するなど個人情報の消失、変更、毀損などを防ぐために技術対策をしております。但し、一般的にインターネット経由のデータ送信は100％安全とはいい切れません。本サイトではユーザの個人情報保護のために最善を尽くしておりますが、本サイトのサービスとして提供される情報のセキュリティー全てを確実に保証することはできかねます点ご了承ください。</p>
  </div>  
  <div class="privacy">
    <h2>7. 免責</h2>
    <p>以下の場合には、本サービスにご提供いただいたお客様の個人情報を、上記「4. 個人情報の開示及び共有」に規定される事由以外の事由によって第三者が取得したことに関し、本サービスは何らの責任を負いません。</p>
    <div class="privacy-sub privacy-sub-top">
      <p>1.	ユーザが本サイトのサービス機能を用いて第三者に個人情報を明かした場合</p>
      <p>2.	ユーザが本サイトのサービス上に入力した情報等により、個人が識別できてしまった場合</p>
      <p>3.	個人情報を含むコンテンツをアップロードした場合</p>
      <p>4.	イベントホスト又は協業先となる第三者が個人情報取扱事業者に該当する場合において、それぞれが個人情報取扱事業者として遵守すべき義務遵守を怠った場合</p>
      <p>5.	前項に定めるほか、上記「4. 個人情報の開示及び共有」に規定されるところに従って本サービスからお客様の個人情報の開示又は提供を受けた第三者が、その故意又は過失により、当該第三者が保有するお客様の個人情報を違法に開示し、又は漏えいさせた場合</p>
    </div>
  </div> 
  <div class="privacy">
    <h2>8. プライバシーポリシーの改訂について</h2>
    <p>本サービスは本プライバシーポリシーについて適時見直しを行い改訂する事があります。重要な変更がある場合にはサイトにてお知らせします。</p>
  </div>
  <div class="privacy">
    <h2>9. その他ご留意いただきたい点について</h2>
    <p>本ページ記載事項は、本サービス、ユーザとの間において効力を持つものであり、本ページのリンク先を含む第三者に適用されるものではありません。本ページに関するお問い合わせは下記までお願いいたします。<br>
      <%= link_to "お問い合わせフォーム", contact_path %>
    </p>
  </div>
  <div class="privacy">
    <p>更新日：令和3年1月1日<br>
    Realtime Social
    </p>
  </div>
</div>  
</div>  