<% provide(:title, "利用規約") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>利用規約</h1>
  </div>
  <div class="term">
    <h2 class="term-title">総則</h2>
    <p>「Realtime Social」（以下「本サイト」といいます。）のサービス（以下「本サービス」といいます。）は、Realtime Socialサービス利用規約（以下「本規約」といいます。）並びにこれに付随する各種個別規定（第2条で定義されます。）及びガイドライン等（以下、本規約、個別規定及びガイドライン等を総称して「本規約等」といいます。）に基づいて提供されます。</p>
  </div>  
  <div class="term">
    <h3>第 1 条（規約の適用）</h3>
    <p>本規約は、Realtime Socialが運営する本サイトにあるイベントに関して本サイトを利用する場合に、当該ユーザと本サイトとの間に適用されます。本規約は、これに付随する個別規定、ガイドライン等の諸規定と共に重畳的に適用され、個別規定、ガイドライン等の諸規定は、本規約の一部を構成します。ユーザは、本サービスを利用することにより、本規約等及びプライバシーポリシーの全ての項目に同意したこととみなされます。</p>
  </div>
  <div class="term">
    <h3>第 2 条（用語の定義）</h3>
    <ol>
      <li>「ユーザ」とは、本規約等に同意の上、本サイトに登録をした個人および団体をいいます。</li>
      <li>「イベントホスト」とは、本サービスを利用してイベントあるいはコミュニティを主催するユーザを指します。</li>
      <li>「参加者」とは、本サイトへの登録に関わらず、本サービスを利用してグループまたはイベントあるいはコミュニティに参加する者をいいます。</li>
      <li>「イベント」とは、本サイト内で作成されたイベントをいいます。</li>
      <li>「取引」とは、ユーザが本サイトを通じて、イベントホストが掲載しているイベントへの予約及び支払いの利用をいいます。</li>
      <li>「個別規定」とは、参加者向け個別規定（以下「参加者規定」といいます。）、イベントホスト向け個別規定（以下「イベントホスト規定」といいます。）</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 3 条（当サービスの役割）</h3>
    <p>本サービスは、第三者であるイベントホストと参加者が取引を成立させ、代金を決済する場を提供します。当サービスはイベントホストと参加者との間の実際の取引には関与するものではありません。したがって、取引成立時には、イベントホストと参加者間に契約が成立することになります。また、ユーザであるイベントホストと他のユーザとの間又はユーザ相互の間で紛争が生じた場合(イベントが中止された場合の返金を含みます)でも、当該紛争については当該ユーザ間で解決するものとし、本サービスは一切の責任を負わないものとします。</p>
  </div>
  <div class="term">
    <h3>第 4 条（ユーザ資格及びユーザ登録手続）</h3>
    <p>本規約等及びプライバシーポリシーに同意のうえ所定の入会申込みをされた個人及び団体は、所定の登録手続完了後にユーザとしての資格を有します。ユーザ登録手続は、ユーザとなる本人（ユーザとなるものが団体の場合には、当該団体からユーザ登録手続きについて適法に授権された者）が行ってください。代理による登録は一切認められません。また、13歳未満の方は本サイトにユーザ登録することはできません。20歳未満の方は、必ず保護者の方の同意を得てから、入会申し込みを行ってください。なお、13歳以上20歳未満の方による入会申し込みを受けた場合、保護者の方の同意を得たものとして取り扱うこととし、また、本サービスは、過去にユーザ資格が取り消された方や本サービスが相応しくないと判断した方のユーザ登録をお断りする場合があります。</p>
  </div>
  <div class="term">
    <h3>第 5 条（ユーザ情報の入力）</h3>
    <p>ユーザ登録手続の際には、必要事項を正確に入力してください。</p>
  </div>
  <div class="term">
    <h3>第 6 条（ニックネーム及びパスワードの管理）</h3>
    <p>ニックネーム及びパスワードは、他人に知られることがないよう定期的に変更する等、ユーザ本人が責任をもって管理してください。入力されたニックネーム及びパスワードが登録されたものと一致することを所定の方法により確認した場合、本サービスは、ユーザによる利用があったものとみなし、それらが盗用、不正使用その他の事情によりそのユーザ以外の者に利用されている場合であっても、それにより生じた損害について本サービスは一切責任を負いません。</p>
  </div>
  <div class="term">
    <h3>第 7 条（登録情報の変更）</h3>
    <p>登録した情報に変更が生じた場合は、速やかに変更をお願いします。登録内容の変更がなされなかったことにより生じた損害について、本サービスは、一切責任を負いません。また、変更がなされた場合でも、変更前にすでに成立した取引は、変更前の情報に基づいて行われます。</p>
  </div>
  <div class="term">
    <h3>第 8 条（ユーザの退会）</h3>
    <p>ユーザがイベントホストで、当該ユーザが本サービス上で既にイベントを公開しており、かつ、当該イベントが終了していない場合を除き、ユーザが退会を希望する場合、当該ユーザは、本サービス上で、すみやかに退会の申請を行うこととします。退会を希望するユーザは、所定の退会手続きが完了した後に、退会となります。</p>
  </div>
  <div class="term">
    <h3>第 9 条（環境設定）</h3>
    <ol>
      <li>本サービスをユーザが利用するために必要なあらゆる機器、設備、ソフトウェア及び通信手段は、ユーザ自身の責任と費用において適切に準備又は設置し、操作するものとします。</li>
      <li>本サービスはユーザの本サイト及び本サービスに対するアクセス環境について一切関与せず、それに関する一切の責任を負わないものとします。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 10 条（本サービスの免責）</h3>
    <ol>
      <li>ユーザが本サービスを利用するにあたって、通信回線やコンピュータなどの障害によるシステムの中断、遅滞、中止、データの消失、もしくはデータへの不正アクセスにより生じた損害その他本サービスに関してユーザに生じた損害に関して、本サービスに故意又は重過失が存在する場合、本サービスが介入し解決します。</li>
      <li>本サービスは、本サービスのウェブページ、サーバ、ドメインなどから送られるメールコンテンツに、コンピュータウィルスその他のユーザのコンピュータ、デバイス、端末に対して有害な影響を生じさせるプログラムが含まれていないことを保証するものではなく、本サービスのメールコンテンツにそのようなプログラムが含まれていたことに起因してユーザに損害が生じた場合、本サービスが介入し解決します。</li>
      <li>本サービスは、ユーザに対し、適宜情報提供やアドバイスを行うことがあります。</li>
      <li>ユーザが本規約等に違反したことによって生じた損害については、本サービスは当該ユーザに対して、連絡することがあります。</li>
      <li>本サイト及び本サービスにて提供されているイベントの内容に関して、本規約等に違反している場合、本サービスは当該ユーザに対して、イベントの中止を要求することがあります。</li>
      <li>本サイト及び本サービスにて提供される全ての情報（本サービスに関連して送信される電子メール等により提供される情報等、及び本サイト上に表示される、第三者が管理・運営するリンクサイト内に含まれる一切の情報等を含みます。）に関する、有用性、適合性、完全性、正確性、安全性、合法性、最新性等について、本サービスに故意又は重過失が存在する場合、本サービスが介入し解決します。</li>
      <li>本サービスは、本サービスを提供するにあたって、本サービスについて不具合、エラー、障害その他の問題が生じないことを保証するものではありません。</li>
      <li>本サービスの利用又は利用不能により生じる一切の損害（直接又は間接を問わず、また金銭的損害か精神的損害かを問いません。）について本サービスは解決に向けて取り組みます。但し、当該損害の発生について、本サービスに故意又は重過失が存在しない場合はこの限りでないものとします。</li>
      <li>本サービスに関してユーザ間又はユーザ及び第三者との間で発生した一切のトラブル及び紛争については、ユーザの責任において処理及び解決するものとします。但し、本サービスに故意又は重過失が存在する場合はこの限りでないものとします。</li>
      <li>本サービスは、イベントの参加者が他のユーザやいかなる人物にイベントの参加する権利を再販売することを禁止します。また、本サービスのユーザによる再販売が発覚したと判断した場合には、いつでもイベントホスト及びユーザに対し、イベントの提供を中止、停止、終了することができるものとします。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 11 条（禁止事項）</h3>
    <p>ユーザは、本サービスを利用するにあたり、以下の各行為をしてはならないものとします。</p>
    <ol>
      <li>法令、ガイドライン、指針、本規約等、本サイトの利用上の注意その他本サービスに関して適用のある規約等に違反すること</li>
      <li>本サービスにサービスを提供するユーザ及び第三者の権利、名誉等を損ねること</li>
      <li>青少年の心身に悪影響を及ぼす恐れがある行為</li>
      <li>有害なコンピュータプログラム、メール等を送信又は書き込むこと</li>
      <li>ニックネーム及びパスワードを第三者に貸与もしくは譲渡すること、又はこれらを第三者と共用すること</li>
      <li>本サービスから事前に許可を得ることなく、提供情報の一部又は全部を複製、複写、送信、転載、配布、頒布等の方法により、第三者に提供すること</li>
      <li>選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為</li>
      <li>本サービス又は第三者の著作権、商標権等の知的財産権を侵害する行為</li>
      <li>前項に定めるほか、本サービス又は第三者の財産権、プライバシー権、肖像権その他の権利を侵害する行為</li>
      <li>公序良俗に反する行為</li>
      <li>自己又は他人の名称、住所、電話番号、電子メールアドレス等について、意図的に虚偽の情報を登録する行為</li>
      <li>イベント情報等に虚偽又は不正確な内容を書き込む行為</li>
      <li>本サービスの機能や情報の正確性に関する問い合わせ又はクレームを投稿する行為</li>
      <li>本サービスが意図する本サービスの目的以外に本サービスを利用する行為</li>
      <li>本サービス又は第三者に対する迷惑行為</li>
      <li>詐欺、規制薬物の濫用、売買春、マネーロンダリング等の犯罪に結びつく、又は結びつくおそれのある行為</li>
      <li>サイト外取引についての優遇措置の表示その他の方法により顧客を本サービス外の取引に誘引する行為</li>
      <li>その他本サービスが不適切と判断する行為</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 12 条（ユーザ情報の取り扱い）</h3>
    <p>ユーザ情報につきましては、本サービスのプライバシーポリシーに従い本サービスが管理します。本サービスはユーザ情報をユーザへの本サービス提供、本サービス内容の向上、本サービスの利用促進（ダイレクトメールを含みます。）、及び本サービスの健全かつ円滑な運営の確保を図る目的のために、本サービスにおいて利用することができるものとします。対象となるユーザ情報は、ユーザ登録の際にユーザが記入したすべての情報とします。</p>
  </div>
  <div class="term">
    <h3>第 13 条（特定ユーザの利用停止・ユーザ資格取消）</h3>
    <p>本サービスは、特定のユーザが次のいずれかに該当すると判断した場合には、事前に通知することなく当該ユーザによるサービスの利用停止、当該ユーザのニックネーム及びパスワードの変更、又は当該ユーザのユーザ資格の取消しを行えるものとします。これによりユーザに何らかの損害が生じたとしても、本サービスは一切責任を負わないものとします。</p>
    <ol>
      <li>法令及び本規約等に違反する行為があった場合</li>
      <li>当該ユーザに本サービス利用に関して不正行為があった場合</li>
      <li>一定回数以上のパスワードの入力ミスがあるなどセキュリティ保護に問題があった場合</li>
      <li>他のユーザのニックネーム及びパスワードを利用した場合</li>
      <li>他のユーザのコンテンツを事前同意なく出版及び放送などに提供した場合</li>
      <li>当該ユーザの登録情報に虚偽の事実があることが判明した場合</li>
      <li>その他本サービスが適当と判断した場合</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 14 条（サービスの中断・変更・廃止）</h3>
    <p>本サービスは、その判断により本サービスの全部又は一部を中断、変更又は廃止できるものとします。本サービスの一時的な停止若しくは終了又は本サービスのサービス内容等の変更により、ユーザ又は第三者に損害が発生した場合でも、本サービスは一切の責任を負いません。</p>
  </div>
  <div class="term">
    <h3>第 15 条（再委託）</h3>
    <p>本サービスは本規約等に定める自己の業務の全部又は一部を、第三者に再委託することができるものとします。</p>
  </div>
  <div class="term">
    <h3>第 16 条（個人情報の取扱い）</h3>
    <ol>
      <li>本サービスは、別途掲示する「プライバシーポリシー」に基づきユーザの個人情報を取扱うものとし、ユーザは本条項に同意のうえ、本サービスを利用するものとします。</li>
      <li>ユーザは、以下の各号のいずれかに該当する場合に、本サービスが当該各号に定める者にユーザの個人情報を提供することにあらかじめ同意するものとし、かかる提供が行われた場合には、これに対し異議を述べないものとします。</li>
      <ol class="term-sub">
        <p>i.	ユーザが希望する情報やサービスを提供するために第三者に対し個人情報の開示が必要と認められる場合　当該イベントホスト</p>
        <p>ii.	本サイトを通じて本サービスが取得したユーザのニックネーム、電子メールアドレスを、イベントホストが必要とし、本サービスがこれを認めた場合　当該イベントホスト</p>
        <p>iii.	裁判所や警察等の公的機関から法律に基づく正式な照会を受けた場合　当該公的機関</p>
        <p>iv.	本サイトのサイト上でのユーザの行為が利用規約やガイドラインなどに反し、本サイトの権利、財産やサービス等を保護するため必要と認められる場合　本サービスが必要と認める第三者</p>
        <p>v.	ユーザ、公衆の生命・健康・財産などの重大な利益保護のため個人情報の開示が必要な場合　重大な利益を保護するために必要と認められる第三者</p>
        <p>vi.	代金の決済、出金手続き等において金融機関に照会が必要な場合　当該金融機関</p>
        <p>vii.	法令により開示または提供義務が定められている場合　法令により提供が義務付けられている者</p>
        <p>viii.	本サービスが本サービスの事業部門を売却する場合　当該売却の相手方</p>
        <p>ix.	本サービスとの間で共同開発契約、事業提携契約その他本サービスのサービスに関して協業することを内容とする契約を締結した第三者　当該第三者*<br>*現在、該当する第三者はございません。</p>
      </ol>
    </ol>
  </div>
  <div class="term">
    <h3>第 17 条（広告掲載）</h3>
    <p>本サービスは、本サイトに適切と判断される広告を掲載することができます。本サイトに掲載されている広告によって、ユーザ等及び第三者に損害が生じた場合であっても、本サービスは一切責任を負いません。</p>
  </div>
  <div class="term">
    <h3>第 18 条（本規約等の改定）</h3>
    <p>本サービスは、本規約等を任意に改定できるものとし、本規約等を補充する規約を定めることができるものとします。本規約等の改定又は補充は、その内容を本サービス所定のサイトに掲示したときにその効力を生じるものとします。この場合、ユーザは改定後の本規約等及び補充された本規約等に従うものとします。</p>
  </div>
  <div class="term">
    <h3>第 19 条（準拠法、合意管轄）</h3>
    <p>本規約等は、本サービスを利用する対象となるイベントが日本国内で開催される場合には、日本法に基づき解釈されるものとし、この場合において本規約等に関し訴訟の必要が生じたときには、東京地方裁判所を第一審の専属的合意管轄裁判所といたします。</p>
  </div>
  
  <h2 class="term-title">参加者向け個別規定</h2>
  <div class="term">
    <h3>第 1 条（サービスの利用申し込み）</h3>
    <ol>
      <li>参加者規定は、本サービスが別途規定する本規約に付随して、ユーザと本サービスとの本サービスの利用及び運営等にかかる一切の事項に適用されるものとし、ユーザは参加者規定を確認及び承諾の上、本サービスを利用するものとします。本サービスは、参加者が当サイトのイベントホストが主催するイベントに予約し、参加費用を支払った時点で、参加者規定の全ての記載内容に同意したものとみなします。参加者規定に別途定義される用語を除き、参加者規定において用いられる用語は、本規約において定義される用語と同一の意味を有するものとします。</li>
      <li>本サービスは、ユーザの承諾を得ることなく参加者規定を変更することができるものとします。変更後の参加者規定は、本サービスが別途定める場合を除いて、本サイト上で表示された時点より効力を生じるものとし、ユーザが、参加者規定の変更の効力が生じた後に本サービスを利用した場合には、変更後の参加者規定の全ての記載内容に同意したものとみなされます。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 2 条（イベントの参加費）</h3>
    <p>本サイトでは、イベントホストがその主催するイベントに参加費を設定しています。イベント内容並びに参加者定員はイベントホストが決定します。なお、本サイトで表示されるイベントの参加費は税込価格となります。</p>
  </div>
  <div class="term">
    <h3>第 3 条（イベントの予約）</h3>
    <p>イベントの参加を希望する場合は、本サービスが定める利用規約及びプライバシーポリシーを予め確認及び承諾の上、本サービス所定の方法で予約手続き及び支払い手続きを行うものとし、予約手続き完了後、本サービスから予約完了メールが送信された後、そのメールに記載の手順で支払い手続きを完了した時点で取引が成立します。本サービスは、ユーザがユーザの責めに帰すべき事由により、取引の完了が遅延すること、又は当該遅延によって発生する損害等について、一切の責任を負いません。</p>
  </div>
  <div class="term">
    <h3>第 4 条（イベントの問い合わせ）</h3>
    <p>イベント内容に関する問い合わせは参加者がイベントホストに対して直接行うものとし、本サービスはこれに関与しないものとします。</p>
  </div>
  <div class="term">
    <h3>第 5 条（イベントのキャンセル・返金）</h3>
    <ol>
      <li>本サイトで取引が成立した参加者は、以下のいずれかに該当する場合のみ、キャンセルをすることができます。</li>
      <ol>
        <p>i.	イベント開催日時までに参加者（注文者）が本サイト所定の手続きでキャンセルを行った場合</p>
      </ol>
      <li>第1項の規定にかかわらず、以下の事由に該当する場合には、本サイトで取引が成立した参加者は、イベントをキャンセルし、イベントの参加費の返金を受けられるものとします。この場合において、参加者は、前項各号のいずれかに該当する場合であっても、返金手数料を負担することはありません。</li>
      <ol>
        <p>i.	イベントが中止となり、イベントホストが本サービス所定の方法でイベントのキャンセル手続きを行った場合</p>
      </ol>
    </ol>
  </div>
  <div class="term">
    <h3>第 6 条（イベント中止時の責任と払戻し）</h3>
    <p>イベントホストの事情によりイベントが中止された場合は、本サービスは、当該中止を告知することを含め一切の責任を負いません。 イベントホストの事情によりイベントが中止となり、イベントホストが本サービス所定の方法でイベントのキャンセル手続きを行った場合は、本サービスは、参加費の払い戻しを、本サービス所定の方法でおこないます。イベントの中止や不開催により参加費の払戻しを行う場合、各クレジットカード会社を通して払い戻しをいたします。</p>
  </div>
  
  <h2 class="term-title">イベントホスト向け個別規定</h2>
  <div class="term">
    <h3>第 1 条（サービスの利用申し込み）</h3>
    <ol>
      <li>イベントホスト規定は、本サービスが別途規定する利用規約に付随して、ユーザがイベント情報の登録、ユーザと本サービスとの本サービスの利用及び運営等にかかる一切の事項に適用されるものとし、ユーザはイベントホスト規定及び本サービスが別途規定する参加者向け個別規定（以下、「参加者規定」といいます。）を確認及び承諾の上、本サービスを利用するものとします。本サービスは、ユーザが本サービスを利用した時点で、ユーザが本規約等の全ての記載内容に同意したものとみなし、本サービス及びユーザの間に、本規約等に基づいて本サービスの利用に係る契約が成立したものとみなします。イベントホスト規定に別途定義される用語を除き、イベントホスト規定において用いられる用語は、本規約において定義される用語と同一の意味を有するものとします。</li>
      <li>本サービスは、ユーザの承諾を得ることなくイベントホスト規定を変更することができるものとします。変更後のイベントホスト規定は、本サイト上で表示された時点より効力を生じるものとし、ユーザがイベントホスト規定の変更の効力が生じた後に本サービスを利用する場合には、変更後のイベントホスト規定の全ての記載内容に同意したものとみなされます。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 2 条（個人情報の取扱い）</h3>
    <ol>
      <li>イベントホストがイベントを提供するにあたって、本サイトを通じて個人情報を取得する場合は、個人情報保護法が定める個人情報取扱事業者としての義務等を遵守しなければならないものとします。また、イベントホストがイベントを提供するにあたって、参加者との間で別途合意を行う場合、自己の責任においてこれを行うものとし、本サービスは、当該合意について、何ら責任を負わないものとします。イベントホストは、本規約等と矛盾又は抵触等する合意を参加者との間で結ぶことはできないものとします。</li>
      <li>イベントホストは、本サービスが、イベントホストに対し、本規約第16条第2項第(2)号の規定又はプライバシーポリシー4.2.(1)又は(2)に基づき、当該イベントホストが主催するイベントに参加する参加者のニックネーム及び電子メールアドレスを提供した場合には、かかるニックネーム及び電子メールアドレスを、当該イベントにおける参加者の管理その他当該イベントに必要な範囲に限って使用するものとします。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 3 条（イベントの提供）</h3>
    <p>イベントホストは、本サービスを通じて作成したイベントの内容に従い、参加者に対し、自らの責任で当該イベントを提供するものとします。また、参加者に提供するイベントに瑕疵があった場合や、瑕疵により参加者からのクレーム等が生じた場合は、イベントホストは、自己の責任と費用で参加者に誠実に対応し、本サービスに一切の迷惑をかけないものとします。但し、本サービスは、本サービスの判断により、イベントホストに対する事前の通知なく、参加者からのクレーム等に対し、イベントホストに代わり対応できるものとします。なお、本サービスは、当該対応に要した費用をイベントホストに請求することができるものとし、イベントホストは、これを直ちに補償することにつき予め承諾するものとします。</p>
  </div>
  <div class="term">
    <h3>第 4 条（イベント提供時の表示）</h3>
    <p>イベントホストは、本サービスを通じて作成したイベントを参加者に対して提供するにあたり、参加者に対し、以下の事項を明示しなければならないものとします。</p>
    <ol>
      <li>イベントホストは、本サービスの決済プラットフォーム及び商号を用いて、有料でイベントを参加者に提供する者である旨。</li>
      <li>イベントの参加の決済を行うにあたって利用されるクレジットカードの決済の対象となるものは、本サービスと参加者との間に発生する本サービスの参加者に対する立替払い債権であり、イベントホストと参加者との間の代金債権ではないこと。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 5 条（問い合わせ対応）</h3>
    <ol>
      <li>イベントホストは、本サイト及び本サービス上で登録した情報に関連し、本サービス、ユーザ又は第三者から問い合わせがあった場合には、これに対し、速やかに対応をするものとします。</li>
      <li>本サービス、ユーザ又は第三者からの問い合わせに対し、イベントホストが対応を怠たり、本サービスの運営に支障が及ぶと本サービスが判断した場合には、イベントホストの意向に関わらず、本サービスが該当問い合わせについて対応できるものとします。</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 6 条（イベントの審査・停止）</h3>
    <p>イベントホストが決済を伴うイベントを作成した場合、本サービスは本規約等で定められた基準を基にイベント内容の審査を行います。本サービスは、特定のイベントが次のいずれかに該当すると判断した場合には、事前に通知することなく当該ユーザによる本サービスの利用停止、当該ユーザのニックネーム及びパスワードの変更、当該ユーザのユーザ資格の取消し、又は当該イベントの停止及び削除を行えるものとします。これによりユーザに何らかの損害が生じたとしても、本サービスは一切の責任を負わないものとします。</p>
    <ol>
      <li>法令、本規約等に違反するものである場合</li>
      <li>本サービスの利用に関する不正行為に基づき作成されたものである場合</li>
      <li>特定の思想宗教への勧誘などを目的とするものである場合</li>
      <li>性行為、わいせつな行為、面識の無い異性との出会い等を目的とするなど、公序良俗に反する内容のものである場合</li>
      <li>登録情報に虚偽の事実又は不正確な情報が含まれているものである場合</li>
      <li>本サービスにサービスを提供するユーザ及びその他第三者の権利、名誉等を損ねるものである場合</li>
      <li>有害なコンピュータープログラム、メール等を送信又は書き込むものである場合</li>
      <li>本サービスから事前の許可を得ることなく、本サイト及び本サービス上で提供される情報の一部又は全部を複製、複写、送信、転載、配布、頒布等の方法により、第三者に提供するものである場合</li>
      <li>選挙期間中であるか否かを問わず、選挙運動又はこれに類する行為を含むものである場合</li>
      <li>本サービス又は第三者の著作権、商標権等の知的財産権を侵害する行為を含むものである場合</li>
      <li>前項に定めるほか、本サービス又は第三者の財産権、プライバシー権、肖像権、その他の権利を侵害する行為を含むものである場合</li>
      <li>本サービスの機能や情報の正確性に関する問い合わせ又はクレームを投稿する行為を含むものである場合</li>
      <li>本サービスが意図する本サービスの目的以外で本サービスを利用するものである場合</li>
      <li>本サービス又は第三者に対する迷惑行為を含むものである場合</li>
      <li>詐欺、規制薬物の濫用、売買春、マネーロンダリング等の犯罪に結びつく、又は結びつくおそれのあるものである場合</li>
      <li>サイト外取引についての優遇措置の表示、その他の方法により顧客を本サービス外の取引に誘引する行為を含むものである場合</li>
      <li>その他本サービスが不適切と判断した場合</li>
    </ol>
  </div>
  <div class="term">
    <h3>第 7 条（イベントの中止・キャンセル）</h3>
    <p>イベントホストが、本サービス上にて公開したイベントを、その終了前にやむを得ず中止する場合、本サービス所定の方法により画面の指示に従って当該イベントのキャンセル手続きを行ってください。イベントホストが当該イベントのキャンセル手続きを行った場合、イベントの中止を通知するメールが、当該イベントの決済済みのユーザに自動配信され、イベントは無効となります。また、公開されているイベントが中止となり、イベントホストが本サービス所定の方法でイベントのキャンセル手続きを行った場合、そのイベントの参加費全額をイベントホストが負担するものとし、Payjpを通じて支払うものとします。</p>
  </div>
  <div class="term">
    <h3>第 8 条（アプリケーション及びインターネット接続）</h3>
    <p>本サービスが提供するイベントホスト向けのアプリケーションや本サイト上で受付確認作業を行うには、インターネットに接続された状態のパーソナルコンピュータ又は本サービスが提供しているアプリケーションがインストールされたインターネットに接続可能な対応端末が必要です。パーソナルコンピュータ又は対応端末がインターネットに接続できる環境の確保は、イベントホストの費用と責任で行うものとします。また、通信回線やコンピュータ、サーバなどの障害により、本サービスが提供するアプリケーションや本サイトでの受付確認作業に支障が発生した場合であっても、本サービスは一切の責任を負わないものとします。</p>
  </div>
  <div class="term">
    <h3>第 9 条（イベント参加費の払い出し）</h3>
    <ol>
      <li>イベントホストが参加者に対しイベントを提供し、本サービスがそれを確認した後、イベントホストが本サイト上で指定した銀行口座へ入金を行います。</li>
      <li>イベントホストの銀行口座への入金額は、月末までにイベントホストが開催したイベントで決済された金額（以下、イベント参加費とします）から本サイトの利用料（以下、サイト利用料とします）を差し引いた金額となります。</li>
      <li>サイト利用料はイベント参加費の10%です。各クレジットカードブランドの決済手数料がサイト利用料に含まれます。</li>
      <li>イベントホストの銀行口座への入金サイクルは月末締めの翌月末払いとなります。</li>
      <li>イベントホストの銀行口座への入金の際、イベントホストが振込手数料250円(税込)を負担します。<br><br>
          （例えば、1人当たり参加費2000円のイベントに１0人が参加した場合）<br><br>
          イベント参加費 = 2,000円　x 10人 = 20,000円<br>
          サイト利用料 = 20,000円　x 10% = 3,000円<br>
          振込手数料 = 250円<br>
          イベントホストの銀行口座への入金額＝20,000円 - 2000円 – 250円 = 17,750円
          </li>
    </ol>
  </div>
  <div class="term">
    <h3>第 10 条（イベントホストの表明及び保証）</h3>
    <ol>
      <li>イベントホストは、本サービスに対し、イベントホスト（イベントホストの役員及び従業員を含みます。）及びが、暴力団、暴力団員、暴力団員でなくなった時から5年を経過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロ又は特殊知能暴力集団等その他これらに準ずる者 (以下これらを「暴力団員等」といいます) 又は以下の各号のいずれにも該当しないことを、表明し、かつ、保証するとともに、将来においても、イベントホスト及びがこれらのいずれにも該当しないこと、及び、自ら又は第三者（を含みます。）を利用して第2項各号のいずれかに該当する行為を一切行わないことを、確約するものとします。<br>
      また、イベントホストの故意過失を問わず、イベントホストがかかる表明及び保証に違反し、あるいは、かかる確約に違反した場合には、イベントホストは、(1)本サービスがイベントホストのイベントページが作成したグループまたはイベントに関するページを本サービスのサイトおよびサーバから削除すること、また、(2)本サービスが直ちに本規約等に基づく本サービスとイベントホスト間の契約を解除し、イベントホストのユーザ資格を取り消すことについて、異議なく承諾するものとします。本サービスによるこれらの措置によりイベントホストに何らかの損害が生じた場合でも、イベントホストは、本サービスに対し、何らの請求も行えないものとし、イベントホストにおいてその損害の一切を負担するものとします。また、かかる表明及び保証又は確約に違反して本サービス（本サービスの役員及び従業員を含みます）又は参加者（参加者の役員及び従業員を含みます）に何らかの損害が生じた場合には、イベントホスト(ただし、イベントホストの役員及び従業員は含まないものとします)は、その一切の損害を賠償しなければならないものとします。</li>
      <ol class="term-sub">
        <p>i.	暴力団員等が経営を支配していると認められる関係を有すること</p>
        <p>ii.	暴力団員等が経営に実質的に関与していると認められる関係を有すること</p>
        <p>iii.	自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること</p>
        <p>iv.	暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること</p>
        <p>v.	役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること</p>
      </ol>
      <li>イベントホストは、本サービスに対し、自ら又は第三者（を含みます。）を利用して次の各号に該当する行為を行わないことを確約するものとします。</li>
      <ol class="term-sub">
        <p>i.	暴力的な要求行為</p>
        <p>ii.	法的な責任の範囲を超えた不当な要求行為</p>
        <p>iii.	取引に関して、脅迫的な言動をし、又は暴力を用いる行為</p>
        <p>iv.	風説を流布し、偽計を用い若しくは威力を用いて本サービスの信用を毀損し、又は本サービスの業務を妨害する行為</p>
        <p>v.	その他前各号に準ずる行為</p>
      </ol>
    </ol>
  </div>
  <div class="term">
    <h3>第 11 条（イベントホストによるサービスの利用の停止等）</h3>
    <p>本サービスは、イベントホストが以下のいずれかの事由に該当する場合、又は、提携金融機関の要請があった場合には、イベントホストが本サービスのプラットフォームを通して参加者に提供しているイベントページが作成したグループまたはイベントに関するページの削除、本サービスの利用の停止その他必要な措置（法的措置を含みます）を取ることができるものとします。この場合において、イベントホストは、速やかに本サービスの指示に従い、改善措置をとらなければならないものとします。</p>
    <ol class="term-sub">
      <li>イベントホストが本規約等のいずれかに違反したとき（イベントホストが本規約第13条各項のいずれかに該当した場合を含みます）。</li>
      <li>イベント参加費を支払った参加者から、イベントホストに対し、その支払ったイベントの開催中止及び延期又はイベント参加費の返金等に関する苦情が頻発したとき。</li>
      <li>その他本サービスが消費者保護の観点等からサービスの利用の停止等の措置が必要と判断したとき。</li>
    </ol>
  </div>
  <div class="term">
    <p>更新日：令和3年1月1日<br> 
      Realtime Social
    </p>  
  </div>
</div>  
</div>  