<% provide(:title, "特定商取引法に基づく表記") %>

<div class="container">
<div class="row">
  <div class="page-title">
    <h1>特定商取引法に基づく表記</h1>
  </div>
  <div class="tokushohyo">
    <h2>【販売事業者】</h2>
    <p>販売事業者名　リアルタイムソーシャル　長坂　泰治<br>
      サービス名：リアルタイムソーシャル<br>
      運営責任者名：長坂　泰治<br>
      所在地：〒530-0057　大阪市北区曽根崎2-16-19メッセージ梅田ビル ONthe UMEDA内
      </p>
  </div>
  <div class="tokushohyo">
    <h2>【お問い合わせ先】</h2>
    <p>問い合わせ窓口(メールアドレス)：info@realtimesocial.jp<br>
    営業時間: 10:00 ~ 18:00 (土日祝日、年末年始、GWを除く)<br><br>
    [メール]<%= link_to "お問い合わせフォーム", contact_path %><br><br>
    ※営業時間外のお問い合わせにつきましては、翌営業日以降のご回答となります。
    </p>
  </div>
  <div class="tokushohyo">
    <h2>【サービス名】</h2>
    <p>「Realtime Social」（リアルタイムソーシャル）</p>
  </div>
  <div class="tokushohyo">
    <h2>【商品代金】</h2>
    <p>イベント毎に税込み価格で表示しております。</p>
  </div>
  <div class="tokushohyo">
    <h2>【代金の支払方法と時期】</h2>
    <p>1．支払方法<br>
    都度課金<br>
    クレジットカード（VISA・MasterCard・JCB・American Express・Diners Club・Discover）払い
    </p>
    <p>2．支払時期<br>
    支払いの入力画面にて、クレジットカード払いにおける必要情報を入力し、購入確定時に与信処理および決済を行います。
    </p>
  </div>
  <div class="tokushohyo">
    <h2>【商品引渡時期】</h2>
    <p>ご利用当日にご提供</p>
  </div>
  <div class="tokushohyo">
    <h2>【キャンセルについて】</h2>
    <p>以下の場合において、キャンセルを承ります。</p>
    <p>1. イベント開催日時までに注文者自身が本サービス所定の方法でキャンセルの依頼を行い、イベントホスト側がこれを承諾した場合</p>
    <p>2. イベントホストの事情によりイベントが中止となり、イベントホストが本サービス所定の方法でイベントのキャンセル手続きを行った場合</p>
  </div>
</div>
</div>