<% provide(:title, "特定商取引法に基づく表記") %>

<div class="container">
<div class="row">
  <div class="">
    <div class="contact">
      <div class="page-title">
        <h1>特定商取引法に基づく表記</h1>
      </div>
      
    </div>
  </div>
  
</div>
</div>