<% provide(:title, '') %>
<% provide(:content, '') %>


<div class="container">
<div class="row">
  <div class="col-12 col-sm-3">
    <%= render "shared/sidebar_organizer" %>
  </div>
  
  <div class="col-12 col-sm-9">
    <div class="page-title">
      <h1>マイページ</h1>
    </div>
    
    <div class="">
      <h2><%= @events.size %>件：これまでに登録したイベント</h2>
      <div class="">
        <li><%= link_to "これまでに登録したイベントを確認する" %></li>
      </div>
    </div>
    <div class="">
      <h2>3:現在募集中のイベント</h2>
      <div class="">
        <li><%= link_to "現在募集中のイベントを管理する" %></li>
      </div>
    </div>
  </div>
</div>  
</div>


