<div class='event'>
 <p><%= @nickname %>さんのイベント一覧</p>
    <% @events.each do |event| %>
    <%= render partial: "events/event", locals: { event: event } %>
    <% end %>
    
  <%= paginate(@events) %>
</div>
