<% provide(:title, "パスワードの再設定") %>

<div class="user">
  <div class="page-title">
    <h1>パスワードの再設定</h1>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "shared/error_notice", model: resource %>
  <div class="user-form">
    <p>パスワードの再設定を行います。再設定用メールをお送りするので、登録いただいたメールアドレスを入力してください。</p>
    <div class="user-form__box">
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
    </div>
    <div class="user-form__submit-box">
      <%= f.submit "メールによるリセットを行う", class:"wide-submit-btn btn-hover blue-btn" %>
    </div>
  </div>
  <% end %>
</div>
