<div class="sidebar">
  <div class="sidebar-box">
    <h4>イベント情報管理</h4>
    <ul>
        <li><%= link_to "イベント新規登録", new_event_path %></li>
        <li><%= link_to "登録したイベントの確認", events_confirm_path %></li>
    </ul>    
  </div>
  
  <div class="sidebar-box">
    <h4>お支払い情報管理</h4>
    <ul>
      <li>お支払い情報</li>
      <li>お支払い情報確認</li>
    </ul>
  </div>  
  
  <div class="sidebar-box">
    <h4>登録情報管理</h4>    
    <ul>
      <li>ユーザー情報</li>
      <li>ログアウト</li>
    </ul>
  </div>  

</div>