<div class="container">
<div class="row">
  <div class="col-12 col-sm-3">
    <%= render "shared/sidebar_organizer" %>
  </div>
  
  <div class="col-12 col-sm-9">
    <div class="page-title">
      <h1>過去のお支払い確認</h1>
    </div>
    
    <div class="">
      <p>お支払い情報は登録されていません。</p>
    </div>
    
    <div class="">
      <h2>お支払い明細</h2>
      <table>
        <tr>
          <th>支払い日</th>
          <th>金額</th>
          <th>イベント名</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>    
</div>