<div class="container">
<div class="row">
  <div class="">
    <div class="page-title">
      <h1>お支払い</h1>
    </div>
    
    <div class="">
      <p>お支払いいただくことで、参加登録が完了します。</p>
    </div>
  </div>
  
</div>  
</div>