<div class="container">
<div class="row">
  <div class="col-12 col-sm-3">
    <%= render "shared/sidebar_organizer" %>
  </div>
  <div class="col-12 col-sm-9 content">
    <div class="page-title">
        <h1>売り上げ</h1>
    </div>
    
    <div class="">
      <p>これまでの売り上げが表示されています。</p>
      <div class="">
        <table>
          <tr>
            <th>月</th>
            <th>入金額</th>
          </tr>
          <tr>
            <td>6</td>
            <td>1,000</td>
          </tr>
          <tr>
            <td>5</td>
            <td>2,000</td>
          </tr>
        </table>  
      </div>
    </div>
  </div>
</div>
</div>