<% provide(:title, "売り上げ") %>

<div class="container">
<div class="row">
  <div class="col-12 col-sm-3">
    <%= render "shared/sidebar_organizer" %>
  </div>
  <div class="col-12 col-sm-9 content">
    <div class="page-title">
        <h1>売り上げ</h1>
    </div>
    
    <div class="pay-profit">
      <div class="pay-profit__notice">
        <% if @data["count"].to_i == 0 %>
        <p>入金済、入金予定の売上はまだありません。基本的には、月末を売上の締め日とし、翌月末にお振り込みいたします。 入金額は締め日後に反映されます。</p>
      </div>
        <% else %>
        <p>これまでの入金履歴および入金予定の情報が表示されております。（最大100件表示）</p>
        <p>入金日が土日祝の場合は翌営業日の振込になります。</p>
      </div>
      <div class="pay-profit__content">
        <table>
          <tr>
            <th>入金日（予定）</th>
            <th>入金額</th>
          </tr>
          <% i = 0 %>
          <% while i < @data["count"].to_i %>
          <% @month_data = @data["data"][i] %>  
          <tr>
            <td><%= @month_data["scheduled_date"].to_datetime.strftime("%Y/%m/%d") %></td>
            <td>&yen; <%= @month_data["amount"].to_s(:delimited) %></td>
          </tr>
          <% i += 1 %>
          <% end %>
        </table>  
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>