// views > eventsフォルダ内のスタイル


// eventsフォルダ内共通設定
.event{
  width: 100%;
  padding: 2rem 0;
}


// top
.event-box{
  display: flex;
  flex-wrap: wrap;
  width: 70rem;
  margin: 0 auto 2rem;
}
.event-box__detail{
  width: 50%;
  
  p{
    font-size: 1.8rem;
  }
  span{
    display: inline-block;
    width: 10rem;
  }
}
.event-box__img{
  width: 50%;
  
  img{
    width: 100%;
  }
}
.event-box__btn{
  width: 100%;
  padding: 0 0 1rem;
  
  a{
    padding: .2rem 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #dee2e6;
  }
  p{
    display: inline;
    padding-right: 1rem;
  }
}


// new
// イベント新規登録
.event-form{
  display: flex;
  width: 100%;
  padding: 1rem 0;

  label{
    font-size: 1.8rem;
    width: 20%;
  }
  input{
    width: 80%;
  }
  .event-form-content{
    height: 10rem;
    width: 80%;
  }
}
.event-submit{
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  
  input{
    font-size: 1.8rem;
  }
}




// show
.event-box__info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #f8f9fa;
}
.event-box__info-title{
  width: 100%;
  
  h1{
    margin: 0;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}


.event-box__attend{
  width: 100%;
  
  h3{
    font-size: 2rem;
  } 
}
.event-box__attend-btn{
  margin: 1rem 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: .5rem;
  text-align: center;
}
.event-box__attend-info{
  width: 100%;
}
#event-attend-form{
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}
.event-attend-form{
  width: 50rem;
  max-height: 90%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
}
.event-attend__top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
  
  h3{
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  p{
    margin: 0;
    font-size: 3rem;
    line-height: 1;
  }
}
.event-attend__select{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  li{
    width: 50%;
    padding: .5rem 0;
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
  }
  p{
    margin: 0;
    padding: 1rem 0;
    font-size: 1.6rem;
  }
}
.event-attend__form{
  width: 100%;
}
.event-attend__form-box{
  width: 100%;
  display: flex;
  padding: 1rem 0;
  
  label{
    width: 30%;
    font-size: 1.5rem;
  }
  input{
    width: 70%;
  }
}
.event-attend__detail{
  width: 100%;
  
  h4{
    font-size: 1.8rem;
    margin: 0;
  }
}
.event-attend__detail-info{
  width: 100%;
  padding: .5rem 0;
  
  table{
    width: 100%;
  }
  
  th, td{
    padding: .5rem;
    font-size: 1.4rem;
    font-weight: normal;
    border: solid .1rem #343a40;
  }
}
.event-box__participate{
  width: 100%;
  padding: 4rem 0;
  
  h3{
    margin: 0;
    font-size: 2.4rem;
  }
  li{
    padding: 1rem 0;
    font-size: 2rem;
  }
  
}