// views > eventsフォルダ内のスタイル


// eventsフォルダ内共通設定
.event{
  width: 100%;
  padding: 2rem 0;
}


// top
.top{
  width: 100vw;
}
.top-img{
  width: 100%;
  
  img{
    width: 100%;
    filter: grayscale(1);
  }
}
.top-search{
  width: 80%;
  margin: auto;
  position: relative;
  top: -10rem;
  background: #fff;
}
.top-search__header{
  width: 100%;
  
  p{
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
.top-search__wrap{
  width: 100%;
  padding: 2rem 0 0;
  
  form{
    width: 100%;
    display: flex;
  }
}
.top-search__box{
  width: 45%;
  
  p{
    margin: 0;
    padding: 0 0 1rem;
    font-size: 2rem;
    font-weight: bold;
  }
}
.top-search__form-box{
  width: 100%;
  
  input{
    width: 100%;
    height: 5rem;
    padding: 1rem;
    font-size: 2rem;
  }
}
.top-search__price-box{
  width: 100%;
  display: flex;
  margin: auto;
  
  p{
    width: 10%;
    margin: auto;
    padding: 0;
    text-align: center;
  }
  input{
    width: 45%;
    height: 5rem;
    padding: 1rem;
    font-size: 2rem;
  }
}
.top-search__submit-box{
  width: 10%;
  margin: auto auto 0;
  
  input{
    width: 98%;
    margin: 0 1%;
    height: 5rem;
    font-size: 2rem;
  }
}



.event-box{
  display: flex;
  flex-wrap: wrap;
  width: 70rem;
  margin: 0 auto 2rem;
  background: #f8f9fa;
}
.event-box__header{
  width: 100%;
  padding: 0 0 1rem;
  
  p{
    display: inline-block;
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
  }
  h3{
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
  }
}
.event-box__detail{
  width: 50%;
  
  p{
    font-size: 1.8rem;
  
    i{
      width: 1.8rem;
    }  
  }
  span{
    display: inline-block;
    width: 10rem;
  }
}
.event-box__img{
  width: 50%;
  
  img{
    width: 100%;
  }
}
.event-box__btn{
  width: 100%;
  padding: 0 0 1rem;
  
  a{
    padding: .2rem 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem #dee2e6;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
  }
  p{
    display: inline;
    padding-right: 1rem;
  }
}


// new
// イベント新規登録
.event-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  margin: auto;
  font-size: 1.8rem;

  label{
    width: 20%;
  }
  input{
    width: 80%;
  }
  .event-form-content{
    height: 10rem;
    width: 80%;
  }
}
.event-form-date{
  input{
    width: 40%;
  }
  select{
    width: 19.5%;
  }
}
.event-submit{
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  
  input{
    font-size: 1.8rem;
  }
}




// show
.event-box__info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #f8f9fa;
}
.event-box__info-title{
  width: 100%;
  
  h1{
    margin: 0;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
.event-box__attend{
  width: 100%;
  
  h3{
    font-size: 2rem;
  } 
}
.event-box__attend-btn{
  margin: 1rem 0;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: .5rem;
  text-align: center;
}
.event-box__attend-info{
  width: 100%;
}
#event-attend-form{
  position: fixed;
  top: 5%;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}
.event-attend-form{
  width: 50rem;
  max-height: 90%;
  margin: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
}
.event-attend__top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 1rem;
  
  h3{
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  p{
    margin: 0;
    font-size: 3rem;
    line-height: 1;
  }
}
.event-attend__select{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 1rem;
  
  li{
    width: 50%;
    padding: .5rem 0;
    list-style: none;
    text-align: center;
    font-size: 1.8rem;
  }
  p{
    margin: 0;
    padding: .5rem 0;
    font-size: 1.6rem;
  }
}
.event-attend__form{
  width: 100%;
  padding: 2rem 0 0;
}
.event-attend__form-box{
  width: 100%;
  display: flex;
  margin: 0 0 1rem;
  font-size: 1.8rem;
  
  p{
    width: 6rem;
    margin: 0;
    padding: .7rem 1.5rem;
    text-align: center;
    font-size: 2rem;
    background: #e9ecef;
    border-radius: .5rem 0 0 .5rem;
	  border: solid .1rem #adb5bd;
  }
  input{
    width: 100%;
    padding: 0 1rem;
    border-radius: 0 .5rem .5rem 0;
	  border: solid .1rem #adb5bd;
  }
  input:focus{
  	outline: none!important;
  	border-radius: .5rem!important;
  	box-shadow: 0 0 0 .2rem #1c7ed6!important;
  }
}
.event-attend__detail{
  width: 100%;
  padding: 0 0 1rem;
  
  h4{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
  }
}
.event-attend__detail-info{
  width: 100%;
  padding: .5rem 0;
  
  table{
    width: 100%;
  }
  th{
    background: #f3f4f7;
    width: 35%;
  }
  
  th, td{
    padding: .5rem;
    font-size: 1.4rem;
    border: solid .1rem #343a40;
  }
}
.event-attend__submit-box{
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.event-box__participate{
  width: 100%;
  padding: 4rem 0;
  
  h3{
    margin: 0;
    font-size: 2.4rem;
  }
  li{
    padding: 1rem 0;
    font-size: 2rem;
  }
  
}