// views > layoutsフォルダ内

// ヘッダー
@media only screen and (min-width: 576px) {
  
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background: #FF6D14;
  color: #fff;
  
  a{
    color: #fff;
  }
}
.header-logo{
  padding: 1rem 3rem;
  margin: auto 0;
  
  h2{
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    transition: .3s;
  }
  a:hover, a:focus{
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}
.header-link{
  ul{
    display: flex;
    margin: 0;
    padding: 1rem 3rem;
  }
  li{
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 0 1rem;
    padding: .5rem;
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    border: solid .1rem transparent;
    border-radius: .5rem;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }
  a:focus{
    text-decoration: none;
    color: #fff;
  }
  span{
    display: block;
    position: relative;
    width: 5rem;
    border-bottom: solid .2rem #fff;
  }
  .ham{
    display: block;
  }
  .ham:hover{
    border: solid .1rem #fff;
  }
  .ham-top{
    top: 0;
  }
  .ham-mid{
    top: 1.5rem;
  }
  .ham-bot{
    top: 3rem;
  }
}
.header-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100vh;
  background: #FF6D14;
  color: #fff;
  transform: translateX(30rem);
  
  a{
    font-weight: bold;
  }
  li{
    padding-left: 2rem;
  }
  p{
    width: 100%;
    padding: 2rem;
    text-align: right;
    font-size: 5rem;
  }
}





// footer
.footer{
  width: 100%;
  margin: 2rem auto 0;
  padding: 2rem 0;
  background: #FF6D14;

  ul{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  li{
    padding: 2rem;
    list-style: none;
    font-size: 2rem;
  }
  a{
    color: #fff;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }
}
.footer-copyright{
  width: 100%;
  
  p{
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
  }
}



}