// views > payフォルダ内のスタイル
// 共通設定


.pay-form{
  width: 100%;
}
.pay-form__notice{
  width: 100%;
  padding: 1.5rem 0;
  
  p{
    margin: 0;
    font-size: 1.6rem;
  }
  a:hover{
    text-decoration: none;
  }
}
.pay-form__box{
  width: 100%;
  display: flex;
  padding-bottom: 1.5rem;
  
  label{
    width: 15rem;
    font-size: 1.8rem;
  }
  input, select{
    width: 20rem;
  }
}
.pay-form__submit-box{
  width: 35rem;
  padding: 2rem 0;
  text-align: center;
  @media only screen and (max-width: 575px){
    width: 100%; 
  }
}



// new（カード登録、カード確認）
.pay-form__box-card{
  width: 39rem;
  margin: 4rem auto;
  background: #f8f9fa;
  @media only screen and (max-width: 575px){
    width: 100%; 
    margin: 1rem auto;
  }
  
  table{
    width: 100%;
  }
  th,td{
    padding: .5rem 1rem;
    font-size: 1.8rem;
  }
  h2{
    margin: 1rem 0 2rem;
    font-size: 2rem;
    font-weight: bold;
  }
  h3{
    margin: 0 0 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  p{
    margin: 0;
    padding: 1rem 0 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
  }
  #payjp_checkout_box{
    text-align: center;
    margin-bottom: 2rem;
    
    
    input{
      width: 90%;
    }
  }
  input{
    font-size: 1.6rem!important;
  }
}



// confirmcardカード情報確認
.pay__card-info{
  width: 50%;
  font-size: 1.8rem;
  background: #f8f9fa;
  
  th, td{
    padding: 1rem;
  }
}
.pay__card-notice{
  width: 100%;
  padding: 2rem 0;
  
  p{
    font-size: 1.8rem;
  }
}


// editCard
.pay-form__arrow{
  width: 100%;
  margin: 2rem auto 0;
  
  p{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
}


// newWithoutResistration
.payment{
  width: 50rem;
  margin: auto;
  
  @media only screen and (max-width: 575px){
    width: 100%;
    padding: 1rem;
  }
}
.payment-box{
  width: 100%;
  padding: 0 0 2rem;
  
  h2{
    font-size: 2.2rem;
    font-weight: bold;
  }
  p{
    font-size: 1.6rem;
  }
  table{
    width: 100%;
  }
  th, td{
    padding: .5rem 1rem;
    border: solid .1rem #495057;
    font-size: 1.8rem;
    
    @media only screen and (max-width: 575px){
      font-size: 1.6rem;
    }
  }
  th{
    width: 30%;
    background: #dee2e6;
  }
  input{
    font-size: 2rem!important;
    width: 100%;
  }
}
.payment-box__submit{
  margin: 4rem 0 0;
}
.payment-box__link{
  margin: 2rem 0;
}



// profit
.pay-profit{
  width: 100%;
}
.pay-profit__notice{
  width: 100%;
  
  p{
    margin: 0;
    font-size: 1.6rem;
  }
}
.pay-profit__content{
  width: 100%;
  padding: 2rem 0;
  
  table{
    width: 100%;
    border: solid .1rem #343a40;
  }
  th, td{
    width: 50%;
    padding: 1rem;
    border: solid .1rem #343a40;
  }
  th{
    background: #ced4da;
    font-size: 2rem;
  }
  td{
    font-size: 1.6rem;
  }
}