// views > payフォルダ内のスタイル
// 共通設定
.pay{
  width: 100%;
} 
.pay__header{
  padding: 1rem 0;
  
  h2{
    font-size: 2rem;
    font-weight: bold;
  }
}




.pay-form{
  width: 100%;
}
.pay-form__notice{
  width: 100%;
  padding: 1.5rem 0;
  
  p{
    margin: 0;
    font-size: 1.6rem;
  }
}
.pay-form__box{
  width: 100%;
  display: flex;
  padding-bottom: 1.5rem;
  
  label{
    width: 15rem;
    font-size: 1.8rem;
  }
  input, select{
    width: 20rem;
  }
}
.pay-form__submit-box{
  width: 35rem;
  padding: 2rem 0;
  text-align: center;
}



// new（カード登録、カード確認）
.pay-form__box-card{
  width: 39rem;
  margin: 4rem auto 0;
  background: #f8f9fa;
  
  th,td{
    padding: 1rem;
    font-size: 1.8rem;
  }
  
  h3{
    margin: 0 0 1.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
  
  p{
    margin: 0;
    padding: 1rem 0 2rem;
    font-size: 1.6rem;
    text-align: center;
  }
  
  #payjp_checkout_box{
    text-align: center;
    margin-bottom: 2rem;
    
    input{
      width: 90%;
    }
  }
  input{
    font-size: 1.6rem!important;
  }
}



// confirmcardカード情報確認
.pay__card-info{
  width: 50%;
  font-size: 1.8rem;
  background: #f8f9fa;
  
  th, td{
    padding: 1rem;
  }
}
.pay__card-notice{
  width: 100%;
  padding: 2rem 0;
  
  p{
    font-size: 1.8rem;
  }
}


// editCard
.pay-form__arrow{
  width: 100%;
  margin: 2rem auto 0;
  
  p{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
}