// reserveフォルダ内

// reserved
.reserve-search{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #f1f3f5;
  
  h2{
    width: 100%;
    margin: 0;
    font-size: 2.2rem;
    font-weight: bold;
  }
}
.reserve-search__box{
  width: 33.33%;
  padding: 1rem 0;
  font-size: 2rem;
  
  label{
    font-weight: normal;
  }
}
.event-box__payed{
  width: 100%;
  padding: 0 0 1rem;
  
  p{
    display: inline-block;
    font-size: 1.8rem;
    margin: 0;
    padding: 0 1rem;
    border-radius: .5rem;
  }
  a{
    display: inline-block;
    margin: .5rem 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
}