// views > sharedフォルダ内のスタイル


// サイドバー
.sidebar{
  width: 100%;
  padding: 3rem 0;
  
  h3{
    margin: 0 0 3rem;
    font-size: 2.5rem;
    font-weight: bold;
  }
}
.sidebar-box{
  width: 100%;
  
  h4{
    display: flex;
    justify-content: space-between; 
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    transition: .3s;
    background: #495057;
    color: #fff;
  }
  .sidebar-icon{
    i{
      width: 2rem;
      text-align: center;
    }
  }
  ul{
    padding-left: 1.5rem;
  }
  li{
    list-style: none;
    font-size: 1.7rem;
  }
}