.contact{
  width: 50rem;
  margin: auto;
  font-size: 1.8rem;
  
  p{
    margin: 1rem 0;
  }
  ul{
    padding: 3rem;
  }
}
.contact-form{
  width: 100%;
  font-size: 1.8rem;
  margin: 0 0 1rem;
  
  label{
    width: 100%;
    margin: 0;
  }
  input{
    width: 100%;
    padding: .5rem;
  }
  textarea{
    width: 100%;
    height: 15rem!important;
  }
}
.contact-submit{
  margin: 1rem auto;
  text-align: center;
  font-size: 1.8rem;
}