
.box-wrap{
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0 1rem #adb5bd;
}


// ボタン関連
.submit-btn{
	display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: .6rem 1.5rem;
  line-height: 1.42857143;
  border-radius: 4px;	
}
.wide-submit-btn{
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	font-size: 2rem;
	border-radius: .5rem;
	border: none;
	cursor: pointer;
}
.wide-submit-btn:focus{
	outline:0;
}
.blue-btn{
	background: #1971c2;
  color: #fff;
}
.pink-btn{
	background: #fa5252;
  color: #fff;
}
.grey-btn{
	background: #e9ecef;;
	color: #1971c2;
	transition: .3s;
}
.grey-btn:hover{
	background: #1971c2;
  color: #fff;
  text-decoration: none;
}
.unselect-btn{
	background: #dee2e6;
	color: #343a40;
}


// flashメッセージ
.flash-notice{
	width: 100%;
	z-index: 10;
	position: absolute;
	padding: 1rem 0;
	text-align: center;
	font-size: 1.8rem;
	background: #ff8787;
	color: #fff;
	
	p{
		margin: 0;
	}
}



// form設定
// number_fieldのスピンボタンなし
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


// input枠線変更
input:focus{
	outline: none!important;
	border-radius: .5rem!important;
	box-shadow: 0 0 0 .2rem #1c7ed6!important;
}

.input-with-icon{
	border-radius: 0 .5rem .5rem 0;
	border: solid .1rem #e9ecef;
}
.icon-with-input{
	border-radius: .5rem 0 0 .5rem;
	border: solid .1rem #e9ecef;
}