// views > deviseフォルダ内

// new（新規登録フォーム）
.user{
  width: 50rem;
  margin: 4rem auto 0;
  padding: 1rem 2rem;
}
.user-form{
  padding: 2rem 0;
}
.user-form__box{
  width: 100%;
  display: flex;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  font-size: 1.8rem;
  
  p{
    width: 6rem;
    margin: 0;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 2rem;
    background: #e9ecef;
    border-radius: .5rem 0 0 .5rem;
	  border: solid .1rem #adb5bd;
  }
  input{
    width: 100%;
    padding: 0 1rem;
    border-radius: 0 .5rem .5rem 0;
	  border: solid .1rem #adb5bd;
  }
}
.user-form__notice{

  p{
    margin: 0;
    font-size: 1.6rem;
  }
}
.user-form__submit-box{
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
}
.user-form__link{
  padding: 2rem 0;
  
  p{
    margin: 1rem 0;
  }
  a{
    display: block;
    font-weight: bold;
    color: #1971c2;
  }
  a:hover{
    text-decoration: none;
    color: #fff;
  }
  
}





// edit
.user-edit{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
.user-header{
  width: 100%;
  padding: 0 0 1rem;
  
  h2{
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
}
