// views > deviseフォルダ内

// new（新規登録フォーム）
.user{
  width: 50rem;
  margin: 4rem auto 0;
  padding: 1rem 2rem;
  border: 1px solid #dadce0;
  border-radius: .8rem;
  box-shadow: 0 0 .3rem #adb5bd;
  background: #f8f9fa;
}
.user-form{
  padding: 2rem 0;
}
.user-form__box{
  width: 100%;
  padding: 0 0 1rem;
  font-size: 1.8rem;
  
  label{
    width: 100%;
    margin: 0 0 .5rem;
  }
  input{
    width: 100%;
  }
}
.user-form__submit-box{
  padding: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
}