<div class="footer">
  <nav>
    <ul>
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
      <li><%= link_to "ヘルプ" %></li>
    </ul>
  </nav>  
  <div class="footer-copyright">
    <p>Copyright ©2020 All Right Reserved.</p>
  </div>
</div>